[user]
	email = ryans@mitchells.com
	name = Ryan Stachelczyk
[core]
	autocrlf = input
	editor = vim

[alias]
    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    ll = log --oneline

    a = add
    ap = add -p
    a = add
    cm = commit -m

    d = diff
    dc = diff --cached
    ds = diff --staged
    dw = diff --color-words
    dws = diff --color-words --staged

    s = status -s
    new = checkout -b
    co = checkout

    cont = rebase --continue

    bl = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
    pr = pull -r origin
    pu = "!git push origin -u \"$(git branch --show-current)\""
    po = push origin

    la = "!git config -l | grep alias | cut -c 7-"

